.cls-101, .cls-1014 {
  fill: #fff;
}

.cls-101, .cls-102, .cls-103, .cls-104, .cls-105, .cls-106, .cls-107, .cls-108 {
  stroke: #707070;
}

.cls-102 {
  fill: #00b2fd;
}

.cls-1019, .cls-103 {
  fill: #f37af3;
}

.cls-2021, .cls-104 {
  fill: #94c867;
}

.cls-2023, .cls-105 {
  fill: #e4a446;
}

.cls-2025, .cls-106 {
  fill: #3f9287;
}

.cls-2027, .cls-107 {
  fill: #7e56a7;
}

.cls-108 {
  fill: #e1dcdc;
}

.cls-109 {
  clip-path: url(#clip-Gift_CardPage);
}

.cls-1010 {
  clip-path: url(#clip-path);
}

.cls-1011 {
  clip-path: url(#clip-path-2);
}

.cls-1012 {
  fill: #00a6f1;
}

.cls-1013 {
  fill: #fdfeff;
  font-size: 10px;
}

.cls-1013, .cls-1015, .cls-2029 {
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}

.cls-1014 {
  font-size: 12px;
  font-family: SitkaText, Sitka Text;
}

.cls-1015 {
  fill: #eddcb0;
  font-size: 20px;
}

.cls-1016 {
  fill: url(#pattern);
}

.cls-1017 {
  fill: #f8fcfd;
  font-size: 30px;
  font-family: SegoeUI, Segoe UI;
}

.cls-1018 {
  clip-path: url(#clip-path-3);
}

.cls-2020 {
  clip-path: url(#clip-path-4);
}

.cls-2022 {
  clip-path: url(#clip-path-5);
}

.cls-2024 {
  clip-path: url(#clip-path-6);
}

.cls-2026 {
  clip-path: url(#clip-path-7);
}

.cls-2028 {
  clip-path: url(#clip-path-8);
}

.cls-2029 {
  fill: #0d0c0c;
  font-size: 14px;
}

.cls-3030, .cls-3032 {
  stroke: none;
}

.cls-3031 {
  fill: none;
}

.cls-3032 {
  fill: #707070;
}

.cls-3033 {
  fill: #504c4e;
}